{% extends 'base.html' %}

{% block title %}{{user.first_name}} {{user.last_name}}{% endblock%}

{% block main %}

<div>
    <div class="content-1">
        <div>
            <img src="{{user.image_url}}" alt="User Photo">
        </div>
    </div>

    <div class="content-2">
        <h1>{{user.first_name}} {{user.last_name}}</h1>
        <div class="button-wrapper">
            <a href="/edit/{{user.id}}">Edit</a>
            <a href="/delete/{{user.id}}">Delete</a>
        </div>

    <h3>Posts</h3>
    <ul>
        {% for post in posts%}
            <li><a href="/{{post.title}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>

    <a href="/users/{{ user.id }}/posts/new">Add Post</a>
        
    </div>
</div>
    
{% endblock %}